.control-bar {
  font-size: inherit;
  overflow: hidden;
  margin-top: .5em;
}

.control-bar-button {
  color: rgb(50, 53, 58);
  text-align: center;
  background-color: rgb(146, 162, 189);
  border: none;
  outline: none;
  user-select: none;
}

@media only screen and (min-device-width: 769px){
  .control-bar {
    width: 0;
    overflow: visible;
    z-index: 1;
  }
  .control-bar-button {
    display: block;
    font-size: .4em;
    width: 2.8em;
    padding: .7em .7em .7em .1em;
    margin-bottom: 1.5em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: inset -2px 0px 2px 0px rgba(16, 24, 37, 0.3);
    transition: transform .4s ease-out, opacity .4s ease-out;
    opacity: 1;
  }
  .control-bar-button:focus {
    box-shadow: inset -2px 0px 2px 0px rgba(16, 24, 37, 0.3), -1px 3px 8px -1px rgba(10, 10, 10, 0.5);
  }
  .control-bar *:last-child {
    margin-bottom: 0;
  }
  .control-bar-button:disabled {
    opacity: 0;
    transform: translateX(-2.8em);
  }
  .control-bar-button:active {
    background-color: rgb(159, 177, 207);
  }
}

@media only screen and (max-device-width: 768px){
  .control-bar {
    font-size: .35em;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: .4em;
  }
  .control-bar-button {
    display: inline-block;
    margin-bottom: 0;
    padding: .4em;
    font-size: inherit;
    opacity: 1;
    border-radius: 5px;
    width: 4.6em;
    transition: opacity .3s ease-in-out;
  }
  .control-bar-button:active {
    transform: scaleX(1.07);
    border-radius: 6px;
  }
  .control-bar-button:disabled {
    transform: none;
    opacity: 0.295;
  }
}

@media only print {
  .control-bar {
    display: none;
  }
}