.listbox {
  display: inline-block;
  position: relative;
  font-size: 0.2em;
  width: 6em;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  /*fix unclickable divs in safari*/
  background-color: transparent;
}

.listbox-theme {
  outline: none;
}

.listbox-theme:focus[aria-expanded="true"],
.listbox-theme:active[aria-expanded="true"] {
  box-shadow: none;
}

.listbox * {
  font-size: inherit;
}

.listbox > div {
  pointer-events: none;
}

.listbox-button {
  width: 100%;
  z-index: 40;
  display: flex;
  padding: 0.4em;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.listbox-button-theme {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgba(26, 26, 26, 1);
  background-color: rgb(146, 162, 189);
}

.listbox-button > span {
  display: block;
  width: 4.5em;
  text-align: center;
}

.listbox-theme:focus > .listbox-button-theme,
.listbox-theme:active > .listbox-button-theme {
  background-color: rgb(159, 177, 207);
  box-shadow: 0px 3px 3px -1px rgba(10, 10, 10, 0.5);
  outline: none;
}

.option-list {
  position: absolute;
  left: 0;
  top: 56%;
  z-index: 22;
  width: 6em;
  margin: 0;
  transition: opacity 0.2s ease-out;
  overflow-y: hidden;
}

.option-list-theme {
  border: 1px solid grey;
  border-radius: 4px;
  background: rgb(240, 240, 240);
}

.option-list-visible {
  display: block;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.svg-animator {
  transition: transform 0.2s;
}

.rotate-90 {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.option-item {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  padding: 5% 3%;
  cursor: pointer;
  /*fix unclickable divs in safari*/
}

.option-item-theme {
  border-width: 0;
  background-color: transparent;
}

.option-item:first-child {
  margin-top: 0.8em;
}

.option-item-theme[aria-selected="true"] {
  background: hsl(219, 50%, 75%);
}

.option-item > span:first-child {
  display: inline-block;
  text-align: center;
}

.option-item > span:last-child {
  width: 4.5em;
}

@media only screen and (min-device-width: 769px) {
  .option-item-theme:hover {
    background-color: rgb(215, 215, 215);
  }
  .option-list-hidden {
    opacity: 0;
  }
  .option-list-anim-over {
    display: none;
    opacity: 0;
  }
}

@media only screen and (max-device-width: 768px) {
  .listbox {
    font-size: 0.35em;
    user-select: none;
  }
  .listbox-theme:focus > .listbox-button-theme,
  .listbox-theme:active > .listbox-button-theme {
    box-shadow: none;
  }
  .listbox-theme:active > .listbox-button-theme {
    transform: scale(1.03, 1.03);
  }
  .option-item {
    padding: 10% 3%;
  }
  /*reduce animations on mobile screens*/
  .option-list-hidden {
    display: none;
  }
  .option-list-anim-over {
    display: none;
  }
}

@media print {
  .listbox-button-theme {
    background-color: transparent;
    box-shadow: none;
  }
  .listbox-button-theme > div:first-child {
    display: none;
  }
  .option-list {
    display: none;
  }
}
