#modal-root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  font-family: Roboto, sans-serif;
}

#modal-root > * {
  text-align: left;
}
/*svg scales based on font size svg color -> color*/
#modal-close-button {
  position: fixed;
  background-color: transparent;
  padding: 0;
  border: none;
  outline-width: 2px;
  outline-offset: -1px;
  outline-color: rgb(55, 59, 66);
  color: rgb(55, 59, 66);
}

#modal-close-button:focus {
  outline-style: dashed;
}
.modal-close-button-hidden {
  display: none;
}

.modal-visible {
  display: flex;
  opacity: 1;
}

.modal-trans-show {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-trans-hide {
  display: flex;
  animation-name: fadeOut;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  /*it removes random flicker in edge and ie11
   * when the modal transitions from fading (this class to the next one)*/
  opacity: 0;
}

.modal-hidden {
  display: none;
}

#modal-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: rgb(220, 220, 230);
  border-radius: 20px;
  overflow: auto;
  z-index: 1;
  box-shadow: 1px 1px 8px 2px rgba(25, 25, 25, 0.5);
  user-select: none;
  outline-width: 0;
}

#modal-content > * {
  flex-shrink: 0;
}

.modal-content-trans-hide {
  animation-name: zoomOut;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}

@media only screen and (min-device-width: 769px) {
  #modal-content {
    padding: 3.5vw 6vw;
    padding-right: 60px;
    top: 10vh;
    left: 15vw;
    right: 15vw;
    max-height: 80%;
    font-size: 22px;
  }

  .modal-close-button-visible {
    font-size: 40px;
    line-height: 0.8em;
    top: 11vh;
    right: calc(15vw + 20px);
  }
}

@media only screen and (max-device-width: 768px) {
  #modal-content {
    top: 10vh;
    left: 10vw;
    right: 10vw;
    max-height: 80%;
    padding: 10vw 14vw;
    font-size: calc(15.5vw * 0.3);
  }

  .modal-close-button-visible {
    font-size: 11vw;
    top: 10.5vh;
    right: 11vw;
  }

  #modal-close-button:focus {
    outline-width: 0;
  }
}
