.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
}

.info-label {
  display: inline-block;
  font-size: .2em;
  padding: .4em;
  background-color: rgb(198, 203, 211);
  border: none;
  line-height: normal;
  border-radius: 5px;
  user-select: none;
}

.top-bar .info-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-device-width: 768px){
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    font-size: 1em;
  }
  .info-label {
    font-size: .35em;
    padding: .4em .49em;
  }
}

@media print {
  .top-bar {
    justify-content: space-between;
  }
  .info-label {
    background-color: transparent;
  }
}